.form-block {
  margin-top: 200px;
  display: flex;
  justify-content: start;
}
.form-block > input {
  width: 400px;
  height: 30px;
  margin: 0 20px 10px 20px;
  padding: 5px 0 5px 10px;
  font-size: 25px;
}
.form-block > button {
  height: 43px;
  width: 180px;
  margin: 0 20px 10px 0px;
  font-size: 20px;
}