.list-item {
  font-size: 35px;
  display: flex;
  border-bottom: 1px solid black;
  margin-left: 20px;
  margin-bottom: 10px;
  max-width: 600px;
  justify-content: space-between;
}
.list-buttons {
  display: flex;
  justify-content: flex-end;
  
  
}
#style {
  text-decoration: none;
}
#style-done {
  text-decoration: line-through;
}
.style-important {
  color: red;
  text-decoration-color: black;
}